<p><strong>Cheers!</strong></p>
<p> Your request for a student membership has been submitted.</p>
<p><a href="http://localhost:3000/student_memberships/index.html">Check Your Student Membership Status Here</a></p>
<p>Thank you,</p>
<p>Agile Learner Team</p>
<p><a href="https://www.agilelearner.com/">www.agilelearner.com</a></p>