body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.patientslist{
  float: left;
  width: auto;
  height: auto;
}

.patientmedinfo{
  float: right;
  width: auto;
  height: auto;
}
