<head>
	
</head>
<body>
	<div id="presentation">
		<div id = "presentation-header">
			<div id = "logo">
				Logo
			</div>
			<div id = "site-options">
				<table id = "options">
					<tr>
						<td><p>Search | </p></td>
						<td><p>Presentations | </p></td>
						<td><p>Lessons | </p></td>
						<td><p>Presenters | </p></td>
						<td><p>FAQ | </p></td>
						<td><p>Terms</p></td>
					</tr>
				</table>
				<table id="credentials">
					<tr>
						<td class="authenticated"><p>Hello</p></td>
						<td class="authenticated"><p>Hello</p></td>
						<td class="authenticated"><p>Hello</p></td>
						<td class="authenticated"><p>Hello</p></td>
						<td><p>Sign in</p></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="misc">
			<div style="float:left">Twitter Button</div>
			<div style="float:right"><em>by Agile Developer</em></div>
		</div>
		<div id = "presentation-body">
			<div id = "presentation-info">
				<div>
					<h2>Presentation Title</h2>
					<p><a href="#">Tweet!</a></p>
				</div>
				<table>
					<tr>
						<td>Keywords</td>
						<td>Blah!</td>
					</tr>
					<tr>
						<td>Duration</td>
						<td>Blah!</td>
					</tr>
					<tr>
						<td>Presenter</td>
						<td>Blah!</td>
					</tr>
					<tr>
						<td>Created</td>
						<td>Blah!</td>
					</tr>
					<tr>
						<td>Details</td>
						<td>Blah!</td>
					</tr>
					<tr>
						<td>Code</td>
						<td>Blah!</td>
					</tr>
					<tr>
						<td>Access</td>
						<td>Blah!</td>
					</tr>
				</table>
			</div>
			<div id = "image">
				
			</div>
		</div>
		<div id = "quiz">
			<table id = "quiz-info">
				<tr>
					<td><em>Quiz: </em>Take quiz</td>
					<td>| Avg: 4/10</td>
				</tr>
			</table>
		</div>
		<div id = "presentation-tab-section">
			<a href = "#">Reviews</a>
			<a href =" #">See Before...</a>
			<a href =" #">See Also...</a>
			<a href =" #">Comment</a>
		</div>
	</div>
</body>